<h2>{{plant}}</h2>
<p></p>

<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1">Gráfica</button>
        <clr-tab-content *clrIfActive="true">
        <plant-graph></plant-graph>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Tabla</button>
        <clr-tab-content *clrIfActive="false">
          <my-table></my-table>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button clrTabLink>Descargar Datos</button>
        <clr-tab-content *clrIfActive="false">
          <my-downloads></my-downloads>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>
