<div ng-app="myApp" ng-controller="customersCtrl">

<table class='center' style='text-align:center' >
  <td>Hora de Colección</td>
  <td>Turbiedad de Agua Cruda (NTU)</td>
  <td>Turbiedad de Agua Decantada(NTU)</td>
  <td>Turbiedad de Agua Filtrada (NTU)</td>
  <td>Dosis de coagulante (mg/L)</td>
  <tr *ngFor="let d of rows">
    <td>{{ d.timeStamp }}</td>
    <td>{{ d.rawWaterTurbidity}}</td>
    <td>{{ d.settledWaterTurbidity }}</td>
    <td>{{ d.filteredWaterTurbidity }}</td>
    <td>{{ d.coagulantDose }}</td>
  </tr>
</table>

</div>
